img {
    height: 300px;
    width: 300px;
}

button { 
    border: 1px solid black;
    height: 300px;
    width: 300px;
    background-image: url("https://cdn11.bigcommerce.com/s-kh0vxeyqjw/images/stencil/original/products/93817/215882/Star-PK2231-Image-1__86082.1662673355.jpg?c=1");
    

}